.videoCard{
    color:white; 
    width:500px;
    height: 400px;
    padding:20px;
    transition: transform 100ms;
}

.videoCard >img{
    /* height: 49vh;
width: 36vw; */
    height:300px;
    width:500px;
    object-fit: contain;
}

/* Animation on hovering  add transition in videoCard*/
 .videoCard:hover{
     transform: scale(1.09);
}

.videoCard >h2{
    padding-top: 10px;
}

/* Date and likes appear on hovering */
.videoCard__stats{
    display: none; 
}

.videoCard:hover > .videoCard__stats{
    display: inline;
}